<div class="discussion">
	<% @project.events.desc.each do |event| %>
	
	  <div class="event well">
		<img src="<%= event.user.image_url %>" width="25" height="25"/>
		<strong><%= link_to event.user.username, event.user %> <%= event.description %> this project.</strong>
		<span class="label pull-right event-time"><%= time_ago_in_words(event.created_at) %> ago</span>
		
	  	<% event.comments.each do |comment| %>
		<div class="comment well" id="comment-<%= comment.id %>">
			<img src="<%= comment.user.image_url %>" width="25" height="25"/>
  			<%= link_to comment.user.username, comment.user %> said:
			<span class="label pull-right"><%= time_ago_in_words(comment.created_at) %> ago</span>
			<div class="comment-text">
				<%= comment.comment %>
			</div>
		</div>
		<% end %>
		
		<div class="add-comment">
			<button class="btn btn-mini" type="button">Comment</button>
			<div class="comment-form">
				<% comment = Comment.new(:event => event) -%>
			  	<%= form_for comment, :html => {:class => 'form-vertical'} do |f| %>
			  	  <%= f.hidden_field :event_id %>
			  	  <%= f.text_area :comment, :class => 'span6', :rows => '5' %>
			  	  <div class="controls">
					<%= f.submit "Add", :class => 'btn btn-inverse' %>
				  </div>
			  	<% end %>
			</div>
		</div>
		
	  </div>
	  
	<% end %>
</div>