<ul class="thumbnails">
	<% @projects.each do |project| %>
        <li class="span3">
          <div class="thumbnail">
			<%= link_to project do %>
			<!-- href="http://placehold.it/260x180/5F6273/FFFFFF&text=..." -->
            <img src="http://lorempixel.com/260/180/abstract/<%= rand 10 %>" width="260" height="180" alt="Image of <%= project.title %>">
			<% end %>
            <div class="caption">
              <h5>
				  <%= link_to project.title, project %> 
				  <% if project.user == current_user %>
				  <span class="label label-info">Owner</span>
				  <% elsif project.pledges.where('user_id = ?', current_user.id).count > 0 -%>
				  <span class="label label-success">Backer</span>
				  <% end -%>
			  </h5>
			  <h6><%= link_to project.user.email, project.user %></h6>
              <p><%= project.slug %></p>
              <div class="progress progress-success">
			<div class="bar" style="width: <%= project.pledges.sum('amount') * 1.0 / project.goal * 100 %>%"></div>
		</div>
            </div>
          </div>
        </li>
	<% end %>
  </ul>